# Personal Configuration
.vs/*
sudoku/.vs/*
sudoku/Debug/*
sudoku/Release/*
sudoku/x64/*
sudoku/TestResults/*
sudoku/sudoku/Debug/*
sudoku/sudoku/Release/*
sudoku/sudoku/x64/*
sudoku/UnitTest1/x64/*
sudoku/UnitTest1/Debug/*
*.suo
*.db
*.psess
*.vspx
sudoku.txt
!BIN/sudoku.exe

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
